@import "tailwindcss";

/* 1. Register the custom font */
@font-face {
    font-family: "Times New Normal";
    src: url("/assets/web/fonts/Times New Normal Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flyonui/flyonui.js";

@theme {
    --font-sans: "Poppins";
    --font-serif: "Playfair Display", "Times New Roman", "ui-serif", "serif";

    /* 2. Add the new font variable */
    --font-times: "Times New Normal";

    --color-brand-brown: #584743;
    --color-brand-grey: #F2F2F2;
    --color-brand-black: #070707;
}

@import "flyonui/variants.css";
@plugin "flyonui";
@plugin "@iconify/tailwind4";

@plugin "flyonui" {
    themes: light --default;
}

@layer base {
    body {
        @apply bg-white text-brand-black font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif text-brand-brown;
    }

    header,
    .section-grey {
        @apply bg-brand-grey;
    }

    .btn-primary {
        @apply bg-brand-brown text-white;
    }
}
